
@{
    ViewBag.Title = "Learn";
}

<h2>Learn</h2>
<br />
<div>
    Use Case ID:	1
    Use Case Name:	Add student
    Created By:	Mlungisi Gumede	Last Updated By:	N/A
    Date Created:		Date Last Updated:	N/A
    Actor:	Administration Clerk
    Description:	When the user clicks on the add student link , they should be taken to a page where they will input the required information which will be sent to a table to be displayed and managed by the admin team
    Preconditions:	The system is fully functional
    Postconditions:	The clerk submitted the details after inputting them.
    Priority:	High
    Frequency of Use:	Excessive
    Normal Course of Events:	Add Student details
    Alternative Courses:	Edit/Delete details
    Exceptions:	Data may be entered even if supporting documents are not submitted due to reasonable reasons but will be required before funding
    Includes:	N/A
    Special Requirements:	Be connected to the local server.
    Assumptions:	The clerk is computer literate.
    Notes and Issues:	Documents to be verified and certified upon submission
</div>
<br />
<br />
<div>
    Use Case ID:	2
    Use Case Name:	Administration
    Created By:	Mlungisi Gumede	Last Updated By:	N/A
    Date Created:		Date Last Updated:	N/A
    Actor:	Administration Clerk
    Description:	When the user clicks on the Administration student link , they should be taken to a page where they will display the required information which will be viewed on a table to be displayed and managed by the admin team
    Preconditions:	The system is fully functional
    Postconditions:	The clerk submitted the details after inputting them.
    Priority:	High
    Frequency of Use:	Excessive
    Normal Course of Events:	Add Student details
    Alternative Courses:	Edit/Delete details
    Exceptions:	Data may be entered even if supporting documents are not submitted due to reasonable reasons but will be required before funding

</div>
<br />
<br />
<div>
    Use Case ID:	3
    Use Case Name:	Remove
    Created By:	Mlungisi Gumede	Last Updated By:	N/A
    Date Created:		Date Last Updated:	N/A

    Actor:	Administration Clerk
    Description:	When the user clicks on the Remove student link , they should be taken to a page where they will Remove the required information which will be viewed on a table to be displayed and managed by the admin team
    Preconditions:	The system is fully functional
    Postconditions:	The clerk submitted the details after inputting them.
    Priority:	High
    Frequency of Use:	Excessive
    Normal Course of Events:	Add Student details
    Alternative Courses:	Edit/Delete details
    Exceptions:	Data may be entered even if supporting documents are not submitted due to reasonable reasons but will be required before funding

</div>
<br />
<br />

<div>

    Use Case ID:	4
    Use Case Name:	Edit
    Created By:	Mlungisi Gumede	Last Updated By:	N/A
    Date Created:		Date Last Updated:	N/A
    Actor:	Administration Clerk
    Description:	When the user clicks on the Remove student link , they should be taken to a page where they will Remove the required information which will be viewed on a table to be displayed and managed by the admin team
    Preconditions:	The system is fully functional
    Postconditions:	The clerk submitted the details after inputting them.
    Priority:	High
    Frequency of Use:	Excessive
    Normal Course of Events:	Add Student details
    Alternative Courses:	Edit/Delete details
    Exceptions:	Data may be entered even if supporting documents are not submitted due to reasonable reasons but will be required before funding
  

    <img src="C:\Users\cash\source\repos\FINALU190274362HW4\image" alt="alternatetext" class="img" id="img">
</div>